* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3.75fr;
  gap: 0px;
}

.sidebar {
  grid-column: 1;
  height: 100vh;
  background-color: #aaeeff;
}

.name {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  margin-top: 18px;
  margin-bottom: 62px;
  margin-left: 5px;
}

.name .icon {
  display: grid;
  align-items: center;
  justify-items: center;
}

.name .title {
  font-size: 42px;
  font-weight: 500;
  color: black;
  display: grid;
  align-items: center;
  letter-spacing: 0.5px;
}

.menu {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 52px;
}

.menu-btn {
  grid-column: 1 / span 2;
  background-color: transparent;
  background-image: url("./images/plus-circle.svg");
  background-size: 32px;
  background-position: 10%;
  background-repeat: no-repeat;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  text-indent: 17%;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-btn:hover {
  background-color: #99ddee;
  color: black;
  filter: none;
}

.projects {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  margin-top: 18px;
  margin-bottom: 12px;
  margin-left: 5px;
}

.projects .icon {
  display: grid;
  align-items: center;
  justify-items: center;
}

.projects .title {
  font-size: 32px;
  font-weight: 500;
  color: black;
  display: grid;
  align-items: center;
}

.project {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 52px;
}

.project-btn {
  grid-column: 1 / span 2;
  background-color: transparent;
  background-image: url("./images/pound.svg");
  background-size: 32px;
  background-position: 10%;
  background-repeat: no-repeat;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  text-indent: 17%;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-btn:hover {
  background-color: #99ddee;
  color: black;
  filter: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: min-content;
  gap: 0px;
}

.main .title {
  grid-column: 2;
  font-size: 42px;
  font-weight: 900;
  color: black;
  margin: 18px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.todos {
  grid-column: 2;
}

.todo {
  display: grid;
  grid-template-columns: 0.1fr 2fr 0.1fr 0.1fr;
  justify-items: left;
}

.circle-btn {
  grid-column: 1;
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

.circle:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(1494%) hue-rotate(344deg) brightness(94%) contrast(86%);
}

.edit-btn {
  grid-column: 3;
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

.pencil:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(1494%) hue-rotate(344deg) brightness(94%) contrast(86%);
}

.delete-btn {
  grid-column: 4;
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

.close:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(1494%) hue-rotate(344deg) brightness(94%) contrast(86%);
}

.todo .title {
  grid-column: 2;
  font-size: 22px;
  font-weight: normal;
  margin: 8px;
}