* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3.75fr;
  gap: 0px;
}

.sidebar {
  grid-column: 1;
  height: max(100vh, 100%);
  background-color: #aaeeff;
}

.name {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  margin-top: 18px;
  margin-bottom: 62px;
  margin-left: 5px;
}

.name .icon {
  display: grid;
  align-items: center;
  justify-items: center;
}

.name .title {
  font-size: 42px;
  font-weight: 500;
  color: black;
  display: grid;
  align-items: center;
  letter-spacing: 0.5px;
}

.menu {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 52px;
}

.add-todo,
.add-project {
  grid-column: 1 / span 2;
  background-color: transparent;
  background-image: url("./images/plus-circle.svg");
  background-size: 32px;
  background-position: 10%;
  background-repeat: no-repeat;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  text-indent: 17%;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.add-todo:hover,
.add-project:hover {
  background-color: #99ddee;
}

.projects {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  margin-top: 18px;
  margin-bottom: 12px;
  margin-left: 5px;
}

.projects .icon {
  display: grid;
  align-items: center;
  justify-items: center;
}

.projects .title {
  font-size: 32px;
  font-weight: 500;
  color: black;
  display: grid;
  align-items: center;
}

.project {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
}

.project-btn {
  grid-column: 1 / span 2;
  background-color: transparent;
  background-image: url("./images/pound.svg");
  background-size: 32px;
  background-position: 10%;
  background-repeat: no-repeat;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  text-indent: 17%;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  grid-auto-rows: min-content;
  gap: 0px;
}

.main .title {
  grid-column: 2;
  font-size: 42px;
  font-weight: 900;
  color: black;
  margin: 18px;
}

.proj-edit-btn {
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
  margin-left: 50px;
}

.proj-delete-btn {
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.todos {
  grid-column: 2;
}

.todo {
  display: grid;
  grid-template-columns: 0.1fr 2fr 0.1fr 0.1fr;
  justify-items: left;
}

.circle-btn {
  grid-column: 1;
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

.circle:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(66%) sepia(2%) saturate(18%) hue-rotate(314deg) brightness(92%) contrast(90%);
}

.edit-btn {
  grid-column: 3;
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

.edit:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(66%) sepia(2%) saturate(18%) hue-rotate(314deg) brightness(92%) contrast(90%);
}

.delete-btn {
  grid-column: 4;
  width: min-content;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

.delete:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(66%) sepia(2%) saturate(18%) hue-rotate(314deg) brightness(92%) contrast(90%);
}

.todo .title {
  grid-column: 2;
  font-size: 22px;
  font-weight: normal;
  margin: 8px;
}

.todo-dialog, .proj-dialog {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: #99ddee;
}

.close {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-top: 10px;
  margin-left: 340px;
}

.close:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(30%) sepia(21%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(92%);
}

form {
  padding: 0px 30px 30px;
}

.todo-input {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr 0.1fr;
  row-gap: 30px;
}

.proj-input {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  row-gap: 30px;
}

.input {
  width: 360px;
}

.label {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.text {
  font-size: 16px;
  font-weight: bold;
  width: 340px;
  border: 2px solid #E5E7EB;
  border-radius: 5px;
  padding: 6px;
  margin-top: 6px;
  outline: none;
}

.submit {
  margin-left: 120px;
}

.black {
  border: 0;
  line-height: 2.5;
  padding: 0px 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(0 0 0);
  background-image: linear-gradient(to top left,
      rgb(0 0 0 / 0.2),
      rgb(0 0 0 / 0.2) 30%,
      rgb(0 0 0 / 0));
  box-shadow:
    inset 1px 1px 1px rgb(255 255 255 / 0.6),
    inset -1px -1px 1px rgb(0 0 0 / 0.6);
}

.black:hover {
  cursor: pointer;
  background-color: #555;
}

.black:active {
  box-shadow:
    inset -1px -1px 1px rgb(255 255 255 / 0.6),
    inset 1px 1px 1px rgb(0 0 0 / 0.6);
}